<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Residential  Works by Pragati Jain"
	backgroundColor="rgba(34,34,34,1)"
	useFullscreenExpand="true"
	indexPageName="gallery1.html"

>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="C:\wamp\www\sep\gallery1\1.jpg">
    <title><![CDATA[1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbs/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank"
	sourcePath="C:\wamp\www\sep\gallery1\2.jpg">
    <title><![CDATA[2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank"
	sourcePath="C:\wamp\www\sep\gallery1\3.jpg">
    <title><![CDATA[3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>