<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="works"
	useFullscreenExpand="true"

>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="C:\wamp\www\chachi\gallery\1.jpg">
    <title><![CDATA[1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbs/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank"
	sourcePath="C:\wamp\www\chachi\gallery\2.jpg">
    <title><![CDATA[2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank"
	sourcePath="C:\wamp\www\chachi\gallery\3.jpg">
    <title><![CDATA[3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4.jpg"
	thumbURL="thumbs/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank"
	sourcePath="C:\wamp\www\chachi\gallery\4.jpg">
    <title><![CDATA[4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/5.jpg"
	thumbURL="thumbs/5.jpg"
	linkURL="images/5.jpg"
	linkTarget="_blank"
	sourcePath="C:\wamp\www\chachi\gallery\5.jpg">
    <title><![CDATA[5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>